# Python
*.pyc
*.pyo
__pycache__/
*.env

# Django
*.sqlite3
*.log
media/
staticfiles/

# Virtual Environment
venv/

# IDEs/Editors
.idea/
.vscode/
*.swp

# OS files
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml

# Secrets
.env
*.key